parameters:
    level: 0
    paths:
        - Attributes
        - Class
        - Controller
        - Core
        - DataTypes
        - Enum
        - Include
        - Integration
        - Interface
        - Model
        - Tasks
        - Worker.php
        - index.php
    excludePaths:
        analyse:
            - vendor
            - tmp
    ignoreErrors:
        -
            identifier: new.static
            path: Integration/Storage/S3Storage.php
    treatPhpDocTypesAsCertain: false
